<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app" class="static" v-bind:class="{active: isActive, 'text-danger': hasError}">
 <span v-bind:title="message">鼠标悬停看动态绑定的提示信息</span>
</div>
<div id="app3">
	<span v-if='seen'>你现在看见我了</span>
</div>
<div id="app4">
	<ol>
		<li v-for = 'tode in todes'>
			{{tode.text}}
		</li>
	</ol>
</div>
<div id="app5">
	<p>{{message}}</p>
	<button v-on:click='reverseMessage'>逆转消息</button>
</div>
<div id="app6">
	<p>{{message}}</p>
	<input type="text" name="" v-model='message'>
</div>

<div id="app7">
	<p>{{fullName}}</p>
</div>

<div id="components-demo">
	<button-counter></button-counter>
	<button-counter></button-counter>
</div>

<div id="blog-post-events-demo">
	<div style="{font-size: postFontSize + 'em'}">
		<blog-post
			v-for='post in posts'
			v-bind:key="post.id"
			v-bind:post='post'
			v-on:enlarge-text:"postFontSize += 0.1"
		></blog-post>
	</div>
</div>

<div id="blog-demo">
<blog-post title="My javascript vue ."></blog-post>
</div>

<!--活动组件-->
<div id="dynamic-component-demo" class="demo">
  <button
    v-for="tab in tabs"
    v-bind:key="tab"
    v-bind:class="['tab-button', { active: currentTab === tab }]"
    v-on:click="currentTab = tab"
  >{{ tab }}</button>

  <component
    v-bind:is="currentTabComponent"		
    class="tab"
  ></component>				<!-- 渲染成组件名 -->
</div>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			message: '页面加载于'+ new Date().toLocaleString(),
			isActive: true,
			hasError: false
		}
	})

	var app3 =new Vue({
		el: '#app3',
		data:{
			seen: true
		}
	})

	var app4 = new Vue({
		el: '#app4',
		data:{
			todes: [
				{text: '这是span1'},
				{text: '这是span2'},
				{text: '这是span3'}
			]
		}
	})

	var app5 = new Vue({
		el: '#app5',
		data:{
			message: 'new vue!'
		},
		methods: {
			reverseMessage: function(){
				this.message = this.message.split('').reverse().join('')
			}
		}
	})

	var app6 = new Vue({
		el: '#app6',
		data:{
			message: 'hello vue'
		}
	})

	var app7 = new Vue({
		el: '#app7',
		data: {
			firstName: 'zeng',
			lastName: 'hui'
		},
		computed: {
			fullName: {
				//getattr
				get: function(){
					return this.firstName+' '+this.lastName
				},
				//setattr
				set: function(newName){
					var names = newName.split(' ')//以空格为界，切分字符串，返回列表
					this.firstName = names[0]
					this.lastName = names[1]
				}
			}
		}
	})

	//组件，组件的data必须是函数,如果不是函数着会影响到所有实例，组件要可以独立出来
	//但是如何传递固定的值？  props,就像访问data中的值一样
	Vue.component('button-counter',{
		data: function(){
			return{
				count: 0
			}
		},
		template:'<button v-on:click="count++">你按了我{{count}}次.</button>'
	})
	//必须要实例化
	new Vue({
		el: '#components-demo'
	})

	//props
	Vue.component('blog-post',{
		props: ['post'],
		template: `<div><h3>{{post.title}}</h3><button>Enlarge text</button><div v-html="post.content"></div></div>`
	})
	new Vue({
		el: '#blog-demo'
	})

	new Vue({
		el:'#blog-post-events-demo',
		data:{
			posts: [/*.....*/],
			postFontSize: 1
		}
	})


	//活动组件
	Vue.component('tab-home', {
		template: '<div>Home component</div>'
	})
	Vue.component('tab-posts', {
		template: '<div>Posts component</div>'
	})

	Vue.component('tab-archive', {
		template: '<div>Archive component</div>'
	})

	new Vue({
		el: '#dynamic-component-demo',
		data: {
			currentTab: 'Home',
			tabs: ['Home', 'Posts', 'Archive']
		},
		computed: {
			currentTabComponent: function () {//这个就是渲染<component> 组件 v-bind:is='currentTabComponent',渲染成需要的组件名
				return 'tab-' + this.currentTab.toLowerCase()
			}
		}
	})

</script>
</body>
</html>
