<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	 <!-- 引入vue.js -->
        <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
         <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div id="app">
	<!-- 导航栏 -->
	 <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
                </div>
                <div class="panel-body form-inline">
                    <label>Id:
                        <input type="text" class="form-control" v-model="id">
                    </label>
                    <label>Name:
                        <input type="text" class="form-control" v-model="name">
                    </label>

                    <input type="button" value="添加" class="btn btn-primary" @click="add()">

                     <label>搜索名称关键字:
                        <input type="text" class="form-control" v-model='keywords' v-focus v-color="'blue'">	<!-- v-model直接可以双向传数据-->
                    </label>
                    <hr>
                </div>
            </div>



		<!-- 表格 -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ctime</th>
                        <th>Operation</th>
                    </tr>
                </thead>
               <tbody>
               	<tr v-for="item in search(keywords)" :key="item.id">
               		<td v-text="item.id"></td>
               		<td v-text="item.name"></td>
               		<td>{{item.created_time | dataFormat}}</td>			<!-- 自定义过滤器-->
               		<td><a href="#" @click.prevent='del(item.id)'>删除</a></td><!-- 链接默认行为会刷新页面.要阻止默认行为-->
               	</tr>
               </tbody>
		</table>
	</div>
	
	<div id="app2">
		<h3 v-fontsize="300" v-fontweight="100">{{ data | dataFormat }}</h3>
	</div>
</body>


<script type="text/javascript">
//定义全局过滤器 Vue.filter('过滤器名称'，function(){})
//全局的不用加s,局部的需要s例如 filter为全局过滤器，filters为局部的
//Vue全局要放在前面
	    Vue.filter('dataFormat',function(datastr,pattern=''){
	    	console.log(datastr)
            let data = new Date(datastr)
            let year = data.getFullYear()
            let month = (data.getMonth() + 1).toString().padStart(2,'0')				//es6的新方法，可以进行字符填充
            let day = data.getDate().toString().padStart(2,'0')
            let hour = data.getHours().toString().padStart(2,'0')
            let minute = data.getMinutes().toString().padStart(2,'0')
            let second = data.getSeconds().toString().padStart()
            if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                return `${year}-${month}-${day}`
            }else{
                return `${year}-${month}-${day} ${hour}:${minute}:${second}+++这是全局的`
            }
            
        })
            //使用Vue.directive() 定义全局的指令 v-focus
            //其中：参数1：指令的名称，注意，在定义的时候指令名称前不需要加 v-前缀，
            //参数2：是一个对象，在这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关操作
            Vue.directive('focus',{
                bind: function (el) {//、每当指令绑定到元素时。会立即执行bind函数
                    // el.focus()
                },
                inserted: function (el) {//插入元素dom中去时。会触发inserted函数【触发一次】
                    //和JS行为有关的操作，一般在插入中去执行
                    el.focus()
                },
                update: function () {//当VNode更新的时候，会执行update,可能会触发多次

                }
            })

        //设置字体颜色的指令
    Vue.directive('color',{
        //样式，只要通过指令绑定给了元素。不管这个元素有没有被插入到页面中去
        //钩子函数的属性binding .value .expression
        bind: function (el,binding) {
            el.style.color=binding.value
        }
    })


	var vm = new Vue({
		el: '#app',
		data: {
			id: '',
			name: '',
			keywords : '',
			list: [
			{id: 1,name: '奔驰', created_time: new Date() },
			{id: 2,name: '宝马', created_time: new Date() }
			]
		},
		methods: {
			//es6方法的写法
			add(){
				var car = {id: this.id, name: this.name,created_time: new Date()};
				this.list.push(car)
				//赋值为空，让他添加完后又变空
				this.id = this.name ='';
			},
			del(id){//快速找到索引

				var index = this.list.findIndex(item => {
					if(item.id == id){
						return true;
					}
				})
				//console.log(index)
				//清除操作列表清除的方法
				this.list.splice(index,1)
			},
			search(keywords){
				// //根据关键字，查找包含关键字的
				 var newlist = [];
				// this.list.forEach(item =>{		//箭头函数遍历出来的item会传到箭头函数中
				// 	if (item.name.indexOf(keywords) != -1){		//只有当不包含时才会返回-1，没有字符相当于包含，
				// 		newlist.push(item)
				// 	}
				// })
				// return newlist
				//注意： forEach some filter findIndex 这些都是属于数组的新方法
				//fiter item 为 list 中的元素
				newlist =  this.list.filter(item => { 
					if(item.name.includes(keywords))
						return item;
				})
				return newlist;
			}
		},
		  // 私有（局部）过滤器——过滤器有两个条件-【过滤器名称和处理函数】
            // 过滤器调用的原则为就近原则,这个
            filters:{
                // 
                dataFormat:function(datastr,pattern=''){
                    let data = new Date(datastr)
                    let year = data.getFullYear()
                    let month = (data.getMonth() + 1).toString().padStart(2,'0')
                    let day = data.getDate().toString().padStart(2,'0')
                    let hour = data.getHours().toString().padStart(2,'0')
                    let minute = data.getMinutes().toString().padStart(2,'0')
                    let second = data.getSeconds().toString().padStart(2,'0')
                    // return year + '-' + month + '-' + day
                    if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                        return `${year}-${month}-${day}`
                    }else{
                        return `${year}-${month}-${day} ${hour}:${minute}:${second}`
                    }
                }
            },
	})

	var vm2 =new Vue({
		el: '#app2',
		data: {
			data: new Date()
		},
        directives: {//自定义私有指令
            'fontweight': {//设置字体粗细的
                bind: function (el,binding) {
                    console.log(binding.value);
                    el.style.fontWeight = binding.value;
                }
            },
            'fontsize': function (el,binding) {//指令简写，相当于把代码写入bind 和 update中去
                console.log(binding.value);
                el.style.fontSize = binding.value;
            }

        }
	})

//vue 不建议直接操作DOM，所以使用指令


</script>
</html>